<div class="container header-container p-3 px-md-4">
  <div class="row mr-0 ml-0">
    <div class="col-md-2">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        <a routerLink="home"><img class="img-fluid" src="/assets/images/logo.png">
        </a>
      </h5>
    </div>
    <div class="col-md-7">
      <div class="header-navbar">
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 header-link" routerLink="home" routerLinkActive="active-link">Home</a>
          <a class="p-2 header-link" routerLink="news" routerLinkActive="active-link">Inside The Mind</a>
          <a class="p-2 header-link" routerLink="contact" routerLinkActive="active-link">Contact Us</a>
          <a class="p-2 header-link" routerLink="membership" routerLinkActive="active-link">Membership Plans</a>
          <a class="p-2 header-link" routerLink="about" routerLinkActive="active-link">About Us</a>
        </nav>
      </div>

    </div>
    <div class="col-md-2">
      <div class="header-social-icons">
        <nav class="my-2 my-md-0 mr-md-3">
          <i class="fa fa-twitter" aria-hidden="true"><a class="p-2" routerLink="home" routerLinkActive="active"></a></i>
          <i class="fa fa-youtube-play" aria-hidden="true"><a class="p-2" routerLink="home" routerLinkActive="active"></a></i>
          <i class="fa fa-paper-plane" aria-hidden="true"><a class="p-2" routerLink="home" routerLinkActive="active"></a></i>
        </nav>
      </div>
    </div>
    <div class="col-md-1">
      <div class="signup-btn-container">
        <button type="button" class="btn header-signup-btn">Sign up</button>
      </div>
    </div>
  </div>
</div>
<div class="header-bottom-border">

</div>

