.contact-form-btn{
  color: white;
  border: 2px solid;
  padding: 10px 28px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact-form-btn:hover{
  color: black;
  background-color: white;
}

.slider-text-container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: black 0px 0px 10px;
}
.arrow-container{
    text-align: end;
    margin-top: 30px;
    margin-bottom: 30px;
}
.arrow-btn{
  background: transparent;
  color: white;
  font-size: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
}

.new-header-container{
    height: 70px;
    border-left: 5px #b48536 solid;
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-transform: uppercase;
}
.featured-post-container{
  background-color: white;
  color: black;
}

.post-container{
  max-width: 380px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.post-text-container{
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: black 0px 0px 10px;
}
.post-img{
  max-height: 360px;
  min-height: 330px;
}
.post-tag-icon{
  position: absolute;
  right: 7%;
}
.post-description-container{
  margin-top: 20px;
  text-align: center;
}
.main-post-container-border{
  border-right: 2px #e7e7e7 solid;
  border-bottom: none;
}


.main-post-container{
  text-align: center;
}
.main-post-text-container{
  text-align: center;
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: black 0px 0px 10px;
}


.main-post-img{
  max-height: 360px;
  min-height: 330px;
  width: 100%;
}
.main-post-tag-icon{
  position: absolute;
  right: 0;
}
.main-post-description{
  padding-left: 40px;
  padding-right: 40px;
}
.post-item{
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 2px #e7e7e7 solid;
}
ul li:last-child{
  border-bottom:none;
}

.post-item:hover{
background-color: wheat;
}
.post-heading{
  font-weight: bold;
}
.post-other-info{
color: #818181;
}
.post-icon{
  max-height: 80px;
  margin-right: 20px;
}
@media (max-width: 450px) {
  .contact-form-btn{
padding: 5px 14px;
font-size: 10px;
  }
  .silder-text{
    font-size: 15px;
  }
  .post-date{
    font-size: 8px;
  }
  .main-post-container{
    border-right: none;
    border-bottom: 2px #e7e7e7 solid;
  }

}
