.intro-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 1250px;
}

.intro-featured{
  padding: 8rem 0;
  background-image: url(/assets/images/main-background.png);
  background-repeat: no-repeat;
  background-position: 0px 230px;
}



.featured-text{
  font-size: 19px;
  margin-bottom: 450px;
}
.featured-screens{
  position: relative;
    max-width: 100%;
    min-height: 34rem;
    margin-top: -38.5rem;
}
.featured-screen-secondary{
  position: absolute;
  right: 0;
  max-width: 65%;
}
.featured-screen-main{
  position: absolute;
  top: 9.25rem;
  left: 0;
  max-width: 67%;
}

.intro-featured-text{
  font-size: 45px;
  font-weight: bolder;
  color: black;
  padding-top: 230px;
}
.intro-featured-text-container{
  background: url("/assets/images/background-discover.png") center 0 no-repeat;
  background-size: cover;
  padding: 15rem 0 8rem;
  margin-top: 300px;
  max-height: 800px;
  margin-bottom: 280px;
}
.intro-featured-btn{
  color:#010101;
  font-size: 13px;
  font-weight: bold;
  background: none;
  border: 3px solid;
  padding: 8px 35px;
  margin-top: 15px;
}

.videoWrapper-container {
  // margin-top: 85px;
  // position: absolute;
  //   left: 0;
  //   right: 0;
}
.videoWrapper{
  width:800px;
  height: 522px;
}

@media (max-width: 450px) {
  .intro-featured-text-container{
    margin-bottom: 0px;
    max-height: 480px;
  }
  .intro-featured{
    background-position: 0px 60px;
  }
  .intro-featured-text{
    font-size: 35px;
  }
  .featured-text{
    margin-bottom: 0px;
  }
  .featured-screens{
      margin-top: -28.5rem;
      min-height: 8rem;
  }
  .featured-screen-main{
    max-width: 93%;
    left: -20px;
  }
  .featured-screen-secondary{
    top: 8rem;
    max-width: 80%;
    right: -20px;
  }
  .videoWrapper{
    height: auto;
    width: 80%;
  }
}

@media (max-width: 950px) and (min-width:550px) {
  .videoWrapper-container {
    margin-top: 50px;
  }
  .videoWrapper { width: 80%; height: 350px;} /* On small screens, show one logo per row */
}


.featured-technology-container{
  padding-bottom: 160px;
  padding-left: 10px;
  padding-right: 10px;
}
.text-container-right{
  text-align: right;
  max-width: 490px;
  margin-left: auto;
}
.text-container-left{
  text-align: left;
  max-width: 490px;
  margin-right: auto;
}

@media (max-width: 450px) {
  .text-container-right{
    text-align: right;
    max-width: 350px;
    margin-left: auto;
  }
  .text-container-left{
    text-align: left;
    max-width: 350px;
    margin-right: auto;
  }
}
.featured-header-container-right{
  width: 200px;
  margin-left: auto;
}
.featured-header-container-left{
  width: 200px;
  margin-right: auto;
}

.featured-icon{
  margin-bottom: 35px;
  text-align: center;
}
.featured-header{
  font-size: 22px;
}
.featured-text-description{
  font-size: 12px;
}

.portfolio-text{
  font-size: 22px;
  font-weight: 900;
}

.bg-image-container{
  margin-top: 40px;
  margin-bottom: 40px;
}

.portfolio-text-bottom{
  font-size: 23px;
  font-weight: 900;
}

.portfolio-text-bottom em{
  color:#b69549;
  font-style: inherit;
}
.portfolio-text-small{
  font-size:14px;
}
.portfolio-container{
  max-width: 880px;
  align-self: center;
}
