<div class="container intro-container">
<div class="intro-featured">
<h1>A new era for cryptocurrency </h1>
<p class="featured-text">Ultra is the first entertainment platform providing a variety of games industry services under a single roof, accessible through a single login: discover, buy, and play games, watch live-streaming feeds, interact with your favorite influencers, participate in contests, compete in tournaments and much more.</p>
<div class="intro-featured-text-container">
  <div class="featured-screens">
    <img class="featured-screen-secondary" src="/assets/images/secondary-screen.png">
    <img class="featured-screen-main" src="/assets/images/main-screen.png">

  </div>
  <div style="padding-top: 50px;
  padding-bottom: 90px;">
    <h1 class="intro-featured-text">Be the first to discover Ultra
    </h1>
    <div class="intro-featured-signup">
      <button type="button" class="btn intro-featured-btn">SIGN UP</button>
    </div>
    </div>

    <div class="videoWrapper-container">
      <iframe class="videoWrapper" src="https://www.youtube.com/embed/W7qWa52k-nE"
    frameborder="0" allowfullscreen></iframe>
    </div>
</div>
</div>

<div class="featured-technology-container">
<div class="text-container-right">
  <div class="featured-header-container-right">
    <div class="featured-icon">
      <img class="img-fluid" src="/assets/images/hand-diamond.png">
    </div>
    <h5 class="featured-header">Embrace blockchain
      technology</h5>
  </div>
    <p class="featured-text-description">
      All the content you buy from Ultra, such as games, DLCs, and virtual items, are on-chain digital goods you truly own. On Ultra you’re in control of your assets as though they were physical items. These assets can be sold, traded and given away to your friends within Ultra, or outside of Ultra, through 3rd party marketplaces and mobile apps.
    </p>
</div>
<div class="text-container-left">
  <div class="featured-header-container-left">
    <div class="featured-icon">
      <img class="img-fluid" src="/assets/images/clock-money.png">
    </div>
    <h5 class="featured-header">Embrace blockchain
      technology</h5>
  </div>
    <p class="featured-text-description">
      All the content you buy from Ultra, such as games, DLCs, and virtual items, are on-chain digital goods you truly own. On Ultra you’re in control of your assets as though they were physical items. These assets can be sold, traded and given away to your friends within Ultra, or outside of Ultra, through 3rd party marketplaces and mobile apps.
    </p>
</div>
<div class="text-container-right">
  <div class="featured-header-container-right">
    <div class="featured-icon">
      <img class="img-fluid" src="/assets/images/hand-diamond.png">
    </div>
    <h5 class="featured-header">Embrace blockchain
      technology</h5>
  </div>
    <p class="featured-text-description">
      All the content you buy from Ultra, such as games, DLCs, and virtual items, are on-chain digital goods you truly own. On Ultra you’re in control of your assets as though they were physical items. These assets can be sold, traded and given away to your friends within Ultra, or outside of Ultra, through 3rd party marketplaces and mobile apps.
    </p>
</div>
<div class="text-container-left">
  <div class="featured-header-container-left">
    <div class="featured-icon">
      <img class="img-fluid" src="/assets/images/clock-money.png">
    </div>
    <h5 class="featured-header">Embrace blockchain
      technology</h5>
  </div>
    <p class="featured-text-description">
      All the content you buy from Ultra, such as games, DLCs, and virtual items, are on-chain digital goods you truly own. On Ultra you’re in control of your assets as though they were physical items. These assets can be sold, traded and given away to your friends within Ultra, or outside of Ultra, through 3rd party marketplaces and mobile apps.
    </p>
</div>
</div>
<div class="portfolio-container">
  <p class="portfolio-text">
    Ultra transforms games distribution by leveling the playing field for developers, players,
streamers, and everyone in the ecosystem.
  </p>
  <div class="bg-image-container">
    <img class="img-fluid" src="/assets/images/bgpotrfolio.png">
  </div>
  <div class="mb-5">
    <p class="portfolio-text-bottom">Embrace blockchain <em>technology</em></p>
    <p class="portfolio-text-small">
      All the content you buy from Ultra, such as games, DLCs, and virtual items, are on-chain digital
    </p>  </div>
</div>
</div>
