<div class="footer-top-border">
</div>
<footer class="pt-4 pt-md-5 footer-background">
  <div class="container footer-container">
    <div class="footer-content">
      <div class="footer-logo">
        <img class="img-fluid" src="/assets/images/logo-footer.png">
      </div>
      <div class="footer-links">
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 header-link" routerLink="home" routerLinkActive="active-link">Terms of Use</a> -
            <a class="p-2 header-link" routerLink="home" routerLinkActive="active-link">Privacy Policy</a> -
            <a class="p-2 header-link" routerLink="contact" routerLinkActive="active-link">Contact us</a>
          </nav>
      </div>
      <div class="footer-social-links">
        <nav class="my-2 my-md-0 mr-md-3">
          <i class="fa fa-twitter" aria-hidden="true"><a class="p-2" routerLink="home" routerLinkActive="active"></a></i>
          <i class="fa fa-youtube-play" aria-hidden="true"><a class="p-2" routerLink="home" routerLinkActive="active"></a></i>
          <i class="fa fa-paper-plane" aria-hidden="true"><a class="p-2" routerLink="home" routerLinkActive="active"></a></i>
        </nav>
      </div>
    </div>
  </div>
</footer>
