<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Membership Plans</h1>
  <p class="membership-text">Ultra is the first entertainment platform providing a variety of games industry services under a single roof.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-4 col-md-4 col-sm-12">
      <div class="service-details-container">
        <div class="service-top-section">

          <div class="membership-top-text">
            Trial
          </div>
          <div class="service-detail-image">
            <img class="img-fluid" src="/assets/images/membership-icon.png">
          </div>
          <div class="service-detail-title">
            3 month
          </div>
          <div class="service-seconday-title">
            membership
          </div>
          <div class="golden-border-mini">

          </div>
          <div>
            <div><P class="membership-price">
              USD
              <em>99</em>
            </P></div>
            <button class="btn buy-plan-btn" type="submit">Buy Plan</button>
          </div>
          </div>
      </div>
      <div class="membership-benefits">
        <ul class="list-unstyled text-small">
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
      <div class="service-details-container">
        <div>

          <div class="membership-top-text">
            Basic
          </div>
          <div class="service-detail-image">
            <img class="img-fluid" src="/assets/images/membership-icon.png">
          </div>
          <div class="service-detail-title">
            6 month
          </div>
          <div class="service-seconday-title">
            membership
          </div>
          <div class="golden-border-mini">

          </div>
          <div>
            <div><P class="membership-price">
              USD
              <em>99</em>
            </P></div>
            <button class="btn buy-plan-btn" type="submit">Buy Plan</button>
          </div>
          </div>
      </div>
      <div class="membership-benefits">
        <ul class="list-unstyled text-small">
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
      <div class="service-details-container">
        <div class="top-image">
          <img class="premium-membership-image" src="/assets/images/premium-icon.png">
        </div>
        <div class="service-top-section">

          <div class="membership-top-text">
            Premium
          </div>
          <div class="service-detail-image">
            <img class="img-fluid" src="/assets/images/membership-icon.png">
          </div>
          <div class="service-detail-title">
            12 month
          </div>
          <div class="service-seconday-title">
            membership
          </div>
          <div class="golden-border-mini">

          </div>
          <div>
            <div><P class="membership-price">
              USD
              <em>99</em>
            </P></div>
            <button class="btn buy-plan-btn" type="submit">Buy Plan</button>
          </div>
          </div>
      </div>
      <div class="membership-benefits">
        <ul class="list-unstyled text-small">
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
      <div class="service-details-container">
        <div class="service-top-section">

          <div class="membership-top-text">
            Trial
          </div>
          <div class="service-detail-image">
            <img class="img-fluid" src="/assets/images/membership-icon.png">
          </div>
          <div class="service-detail-title">
            3 month
          </div>
          <div class="service-seconday-title">
            membership
          </div>
          <div class="golden-border-mini">

          </div>
          <div>
            <div><P class="membership-price">
              USD
              <em>99</em>
            </P></div>
            <button class="btn buy-plan-btn" type="submit">Buy Plan</button>
          </div>
          </div>
      </div>
      <div class="membership-benefits">
        <ul class="list-unstyled text-small">
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
      <div class="service-details-container">
        <div>

          <div class="membership-top-text">
            Basic
          </div>
          <div class="service-detail-image">
            <img class="img-fluid" src="/assets/images/membership-icon.png">
          </div>
          <div class="service-detail-title">
            6 month
          </div>
          <div class="service-seconday-title">
            membership
          </div>
          <div class="golden-border-mini">

          </div>
          <div>
            <div><P class="membership-price">
              USD
              <em>99</em>
            </P></div>
            <button class="btn buy-plan-btn" type="submit">Buy Plan</button>
          </div>
          </div>
      </div>
      <div class="membership-benefits">
        <ul class="list-unstyled text-small">
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
      <div class="service-details-container">
        <div class="top-image">
          <img class="premium-membership-image" src="/assets/images/premium-icon.png">
        </div>
        <div class="service-top-section">

          <div class="membership-top-text">
            Premium
          </div>
          <div class="service-detail-image">
            <img class="img-fluid" src="/assets/images/membership-icon.png">
          </div>
          <div class="service-detail-title">
            12 month
          </div>
          <div class="service-seconday-title">
            membership
          </div>
          <div class="golden-border-mini">

          </div>
          <div>
            <div><P class="membership-price">
              USD
              <em>99</em>
            </P></div>
            <button class="btn buy-plan-btn" type="submit">Buy Plan</button>
          </div>
          </div>
      </div>
      <div class="membership-benefits">
        <ul class="list-unstyled text-small">
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
          <li class="benefit-item">
            <img class="img-fluid benefit-icon p-1" src="/assets/images/golden-tick-icon.png">
              <p>
                is the first  loremp impusel thsss shshshs
          </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="contact-info-container">
    <div class="contact-info-heading">Communicate with us</div>
    <button class="btn contact-form-btn" routerLink="/contact" >Contact Us</button>
  </div>
</div>
